{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block content %}



<div class="container-fluid">
    <div class="row">
      <div class="col-md-5 offset-md-1">
          <h2 style="color: #28693c;" align="center">Premier League</h2>
          {% render_table tablee0 %}</div>
      <div class="col-md-5 offset-md-0.5">
          <h2 style="color: #28693c;" align="center">La Liga</h2>
          {% render_table tablesp1 %}</div>
    </div>
     <hr>
</div>
<div class="container-fluid">
<div class="row">
  <div class="col-md-5 offset-md-1">
      <h2 style="color: #28693c;" align="center">Bundesliga</h2>
      {% render_table tabled1 %}</div>
  <div class="col-md-5 offset-md-0.5">
      <h2 style="color: #28693c;" align="center">Serie A</h2>
      {% render_table tablei1 %}</div>
</div>
     <hr>
    </div>
<div class="container-fluid">
<div class="row">
  <div class="col-md-5 offset-md-1">
      <h2 style="color: #28693c;" align="center">Ligue 1</h2>
      {% render_table tablef1 %}</div>
  <div class="col-md-5 offset-md-0.5">
      <h2 style="color: #28693c;" align="center">Championship</h2>
      {% render_table tablee1 %}</div>
</div>
</div>
 <hr>
</div>
{% endblock %}