{% load render_table from django_tables2 %}
{% load static %}
<!doctype html>
<html>
    <head>
            <!--This is the meta information which is good for SEO-->
    {% block head-meta %}
  	<meta charset="utf-8">
    <body id="bg" style="background-image: url('{% static "img/dust_scratches.png" %}')">
  	<!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
    <meta name="keywords" content="football, predictions, daily tips, betting">
    <meta name="description" content="Football predictions for betting." />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ROBOTS" content="ALL" />
    <meta name="author" content="Paweł Szydlik">
    <meta property="fb:admins" content="Analiza Danych W Piłce Nożnej" />
    <meta name="google-site-verification" content="6w-VveVpLh4dQnpA3BToW1LlaZvn51JNcoYP2aVkAjU" />
    <meta property="og:title" content="FootballBetPredictions" />
    <meta property="og:locale" content="en" />
    <meta property="og:type" content="article" />
    {% endblock %}
    <title>FootballBetPredictions</title>
    <!-- Bootstrap core CSS -->

    <script src="{% static 'js/jquery.min.js' %}" ></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">








    {% block stylesheet %}{% endblock %}



    </head>


    {% include 'navbar.html' %}




    <body>

    {% block content %}
    {% endblock %}


    {% include 'footer.html' %}

    </body>




</html>