{% load render_table from django_tables2 %}
{% load static %}
<!doctype html>
<html>
    <head>
            <!--This is the meta information which is good for SEO-->
    {% block head-meta %}
  	<meta charset="utf-8">
  	<!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
    <meta name="keywords" content="football, predictions, daily tips, betting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ROBOTS" content="ALL" />
    <meta name="author" content="Paweł Szydlik">
    <meta property="fb:admins" content="Analiza Danych W Piłce Nożnej" />
    <meta property="og:description" content="Football predictions for betting." />
    <meta property="og:title" content="FootballBetPredictions" />
    <meta property="og:locale" content="en" />
    <meta property="og:type" content="article" />
    {% endblock %}
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>{% block title %} {{ website_name }} FootballBetPredictions {{ website_name }}{% endblock %}</title>
     <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
     <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    {% include 'navbar.html' %}
    <body>
    {% block content %}
    {% endblock %}

    <footer>
    <div class= "navbar navbar-inverse navbar-static-bottom" role="navigation">
        <div class="navbar-text pull-left"></div>

        <div class= "navbar-text pull-right">
    <!-- Add in your social media / github links here -->
            <a href="https://github.com/szydlinho">
                <i class="fa fa-github-square fa-2x"></i></a>
        </div>
        <!--Below is the copyright information for the site. You can fill in your own here.-->
        <div class="navbar-text pull-left">
        &copy; Analiza danych w piłce nożnej, 2019
        </div>
    </div>


    </footer>
    </body>


<!--This is my javascript block. If you've included the javascript files you need in the 'static' folder then there's no need to
put this here and you can delete the block below.-->

</html>