<!-- Site footer -->
{% load static %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">FootballBetTips.com <i>Free   </i> weekly betting tips for the best European
                football leagues. All predictions were made based on machine learning algorithms that I developed.
                For now there are only two results in the game category: 1 - home win and X2 - draw or guest win.

 </p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">

              <li><a href="{% url 'home' %}">Home page</a></li>
              <li><a href="{% url 'search-view' %}">Search through the history matches</a></li>
              <li><a href="{% url 'charts' %}">Accuracy plots</a></li>

            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
         <a href="https://analizadanychwpilce.com/">Analiza danych w piłce nożnej</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
<!--              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li> -->
              <li><a class="twitter" href="https://twitter.com/szydlinho"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="https://analizadanychwpilce.com/"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="github" href="https://github.com/szydlinho"><i class="fa fa-github-square"></i></a></li>
<!--               <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li> -->
            </ul>
          </div>
        </div>
      </div>
</footer>