<footer class="footer">

                <nav class="navbar navbar-expand-sm navbar-custom">
                  <a class="navbar-brand" href="https://analizadanychwpilce.com/">&copy; Analiza danych w piłce nożnej, 2019</a>
                <div class= "navbar-text pull-right">
                    <!-- Add in your social media / github links here -->
                            <a href="https://github.com/szydlinho">
                                <i class="fa fa-github-square fa-2x"></i></a>
                        </div>

                </nav>
        </footer>